.movie-window {
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 800px;
    border-radius: 1rem;
    border: none;
}
.movie-window:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.movie-title {
    margin-top: 1rem;
    display: inline-block;
    border-radius: 1rem;
    background-color: rgb(58, 58, 58);
    padding: 1rem;
    width: 800px;
}
@media (max-width: 600px) {
  .movie-window {
    margin-top: 1rem;
    width: 100vw;
    height: 250px;
    border-radius: 0px;
  }
  .movie-title {
    width: 100%;
    margin-top: 2rem;
  }
}